$color-darkest: #331D2C;
$color-dark: #3F2E3E;
$color-medium: #A78295;
$color-light: #EFE1D1;
$color-bright-main: #A05344;
$color-bright-second: #734046;

@mixin box-shadow-bright {
  box-shadow: 0px 0px 10px 3px rgba(160, 83, 68, 0.75);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(160, 83, 68, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(160, 83, 68, 0.75);
}

@mixin box-shadow-light {
  box-shadow: 0px 0px 5px 1px rgba(167, 130, 149, 0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(167, 130, 149, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(167, 130, 149, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.a-center {
  align-items: center;
}

.space-even {
  justify-content: space-evenly;
}

.space-btw {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.p-1 {
  padding: 1rem;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

.text-green {
  color: #80b233;
}

.text-red {
  color: #c56312;
}

body {
  background-color: $color-darkest;
  color: $color-light;
}

input, textarea {
  border-radius: 5px;
  padding: 1rem;
  font-family: sans-serif;
  border: none;
  outline: none;
  font-size: 1rem;
}

.circle-img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid;
  border-color: rgba(239, 225, 209, 0) $color-bright-main $color-bright-main $color-bright-main;
  animation: spin-border linear 20s infinite;

  & > img {
    width: 100%;
    animation: spin-image linear 20s infinite;
  }
}

.info {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}

.social a {
  font-size: 2.5rem;
  color: $color-light;
  transition: 0.3s;

  &:hover {
    color: $color-bright-main;
  }
}

.btn-main {
  cursor: pointer;
  border: $color-light solid 1px;
  border-radius: 30px;
  padding: 1rem 2rem;
  background-color: $color-darkest;
  color: $color-light;
  font-size: 1.1rem;
  transition: 0.3s;

  &:hover {
    background-color: $color-bright-main;
  }
}

.btn-secondary {
  @extend .btn-main;
  padding: 0.5rem 1rem;
  background-color: $color-bright-main;
  border-radius: 5px;
  border: none;
}

.btn-link {
  @extend .btn-main;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.05);
  @include box-shadow-light;
  border: none;

  span {
    margin-left: 0.5rem;
  }
}

.contact-form {
  width: 500px;
  max-width: 95vw;

  h1, h2 {
    margin: 1rem 0;
    font-weight: normal;
  }

  button {
    border-radius: 5px;
  }
}

.tech-icon {
  position: relative;

  & > img {
    height: 50px;
  }

  .name {
    position: absolute;
    height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;

    & > div {
      background-color: rgba(63, 46, 62, 0.8);
      padding: 3px;
      border-radius: 5px;
      color: $color-light;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.project-entry {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  color: $color-light;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.5rem;
  @include box-shadow-light;

  h2 {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin-top: 0.2rem;
  }

  a {
    text-decoration: none;
  }
}

.project-about {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

}

.project-img {
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  border: $color-dark solid 1px;
  border-radius: 3px;
}

.section-title {
  margin-top: 2rem;
  background-color: $color-bright-second;
  padding: 1rem;
  text-align: center;
  font-size: 2.8rem;
}

.toolbar {
  width: 100%;
  background-color: $color-darkest;
  display: flex;
  color: $color-light;
  flex-direction: column;
  box-sizing: border-box;
  @include box-shadow-bright;
}

.menu-item {
  color: $color-light;
  text-decoration: none;
  border-bottom: $color-dark solid 2px;
  transition: 0.3s;
  font-size: 1.1rem;
  padding: 1rem;

  &:hover {
    color: $color-bright-main;
    border-bottom: $color-bright-main solid 2px;
  }
}

.active {
  color: $color-bright-main;
}

.menu-closed {
  display: none;
}

.menu-opened {
  display: flex;
  flex-direction: column;
}

.about-text {
  max-width: 600px;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.5rem;

  h1 {
    margin: 2rem 0;
  }
}

.big-icon {
  font-size: 3rem;
}

.social-link {
  text-decoration: none;
  gap: 0.5rem;

  svg {
    font-size: 3.5rem;
  }

  b {
    font-size: 1rem;
  }
}

.loading-icon {
  width: 25px;
  height: 25px;
  background-image: url("images/loading.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project-text {
  margin-left: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.project-entry-full {
  max-width: 950px;

  img {
    width: 100%;
  }
}

.mobile-version-album {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  img {
    width: 100%;
  }
}

.go-back {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.5rem;
  transition: 0.3s;
  cursor: pointer;
  padding: 1rem;

  & svg {
    font-size: 1.5rem;
  }

  &:hover {
    color: $color-bright-main;
  }
}

.scroll-up-button {
  height: 45px;
  width: 45px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: $color-light;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background-color: $color-bright-second;
  border: $color-medium solid 1px;

  &:hover {
    background-color: $color-bright-main;
  }
}

.scroll-up-button.visible {
  opacity: 1;
}

@keyframes spin-border {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-image {
  100% {
    transform: rotate(-360deg);
  }
}

@media (min-width: 600px) {
  .btn-toggle {
    display: none;
  }
  .project-about {
    grid-template-columns: 200px 1fr;
  }
  .menu-closed {
    display: flex;
  }
  .menu-opened {
    flex-direction: row;
  }
  .toolbar {
    background-color: $color-darkest;
    padding: 10px 0 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .menu-item {
    flex: 1;
    display: flex;
    justify-content: center;
    border-bottom: $color-darkest solid 3px;

    &:hover {
      border-bottom: $color-bright-second solid 3px;
    }
  }
  .menu {
    width: 100%;
    display: flex;
  }
  .mobile-version-album {
    grid-template-columns: 1fr 1fr;
  }
}

.btn-toggle > button {
  padding: 1rem;
  background-color: $color-darkest;
  font-size: 2rem;
  color: $color-light;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

@media (min-width: 864px) {
  .f-lg-row {
    flex-direction: row;
  }
  .portfolio {
    max-width: 1000px;
  }
  .project-about {
    grid-template-columns: 300px 1fr;
  }
}

@media (min-width: 1450px) {
  .portfolio {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .project-about {
    grid-template-columns: 200px 1fr;
  }
}
